<div class="container">
  <h1>Pokedex</h1>
  <a routerLink="/trainer">Your Pokemon</a>
  <ul>
    <app-pokemon-list-item
      *ngFor="let pokemon of pokemonList"
      [pokemonItem]="pokemon"
      (clicked)="handlePokemonClicked($event)">
    </app-pokemon-list-item>
  </ul>
</div>
