<div class="container">
  <h1>Login</h1>
  <form class="form-group">
    <label class="form-label" for="user" >Trainer</label>
    <input [(ngModel)]="user" name="user" class="form-control" type="text" id="user" placeholder="Trainer name">
    <br>
    <button (click)="onLoginClick()" type="button" class="btn btn-primary">Login</button>
  </form>
</div>


