<div class="container">
  <section class="container mb-3">
    <h1>{{trainer.name}}'s pokemon</h1>
    <a routerLink="/pokedex">Back to Pokedex</a>
  </section>
  <section class="container">
    <button class="btn btn-danger" (click)="onLogoutClick()">Logout</button>
    <ul>
      <li *ngFor="let pokemon of catchedPokemon">
        <img [src]="pokemon.avatar" alt="pokemon avatar">
        {{pokemon.name}}

      </li>
    </ul>
  </section>

</div>

