<li class="pokemon-list-item" (click)="onPokemonClicked()">
  <div *ngIf="pokemonItem?.caught; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <img src="{{pokemonItem?.avatar}}" alt="pokemon avatar">
    {{pokemonItem?.name}} Caught

  </ng-template>
  <ng-template #elseBlock>
    <img src="{{pokemonItem?.avatar}}" alt="pokemon avatar">
    {{pokemonItem?.name}}

  </ng-template>


</li>
